@model Anime

@{
    ViewData["Title"] = "Anime details";
}
<style>
    body {
        background-color: #000; /* Set the background color to black */
        backdrop-filter: blur(5px);
    }

    .card {
        background: rgb(4,0,255);
        background: linear-gradient(135deg, rgba(4,0,255,1) 0%, rgba(136,0,255,1) 35%, rgba(209,0,255,1) 100%);
        transition: 0.3s;
        overflow: hidden;
    }

    .card-header {
        background-color: #000000;
        border-radius: 15px 15px 0 0;
    }

    .card:hover {
        box-shadow: 0 0 20px rgba(209,0,255,0.8), 0 0 30px rgba(136,0,255,0.8), 0 0 40px rgba(4,0,255,0.8), 0 0 50px rgba(209,0,255,0.8);
    }

    .card-footer {
        background-color: #000000; /* Set the footer background color to black */
        border-radius: 0 0 15px 15px;
        opacity: 0.8;
        transition: opacity 0.3s;
        color: white; /* Ensure text is white for readability */
        display: flex;
        justify-content: space-between;
    }

        .card-footer a {
            flex: 1;
            display: flex;
            justify-content: center;
        }

    .btn {
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff80;
        text-shadow: none;
        background: transparent;
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
    }

        .btn:hover,
        .btn:focus {
            color: #ffffff;
            background: #B026FF;
            border: 1px solid #008cff;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
            box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
        }

    #btn-cart {
        color: #ffffff80;
        border: 1px solid #ffffff80;
    }

        #btn-cart:hover,
        #btn-cart:focus {
            color: #ffffff;
            background: #39FF14;
            border: 1px solid #39FF14;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
            box-shadow: 0 0 5px #39FF14, 0 0 20px #39FF14, 0 0 50px #39FF14, 0 0 100px #39FF14;
        }

</style>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white" ;>
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Cinema: </b>
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">
                                @Model.Cinema.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                        <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>Actors: </b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model.Anime_Characters)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@actor.Character.ProfilePictureURL" style="max-width: 150px" />
                                        <br />
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.CharacterId">@actor.Character.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>